[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
gitpython = "*"
pillow = "==5.4.1"  # Pinned to alpine 3.8's version
olefile = "==0.43"  # Pinned to alpine 3.8's version

[dev-packages]

[requires]
python_version = "3.7"
